- content_for :header do
  = stylesheet_link_tag "site"
  = stylesheet_link_tag "jquery.date"
  = javascript_include_tag "jquery"
  = javascript_include_tag "jquery.color"
  = javascript_include_tag "jquery.date"
  = javascript_include_tag "rails"
  = javascript_include_tag "application"

- form_for @invoice, :url=>{:action=>"create"} do |f|
  = f.error_messages  
  %div{:class=>"span-24 last"}
    %div{:class=>"span-8 from_company"}
      %div{:class=>"span-7"}
        = f.label "Your Company"
        %span{:class=>"reqfield"}*
        %br
        = f.text_field :by_company
      %div{:class=>"span-7"}
        = f.label "Company's address"
        %span{:class=>"reqfield"}*
        %br
        = f.text_area :by_address, :rows=>"4"
    %div{:class=>"span-8 to_company"}
      %div{:class=>"span-7"}
        = f.label "Client"
        %span{:class=>"reqfield"}*
        %br
        = f.text_field :to_company
      %div{:class=>"span-7"}
        = f.label "Client's address"
        %span{:class=>"reqfield"}*
        %br
        = f.text_area :to_address, :rows=>"4"
    %div{:class=>"span-6 last"}
      %div{:class=>"first last introbox span-6"}
        %div
          %span 1.
          Enter details
          %br
          %span 2.
          Create invoice
          %br
          %span 3.
          Share URL or Print invoice
      %div{:class=>"first span-2"}
        = f.hidden_field :template
        %div{:class=>"qmenu"}
          %div{:class=>"qselected"}
          %div{:class=>"qitems"}
            %div{:class=>"qitem"}
              = image_tag "both.png", :alt=>"both"
            %div{:class=>"qitem"}
              = image_tag "center.png", :alt=>"center"
      %div{:class=>"last currency_s span-3"}
        Currency
        = f.select(:currency, [["$".html_safe], ["&euro;".html_safe], ["&pound;".html_safe], ["&yen;".html_safe]])
    %div{:class=>"als span-23 last"}
      ="&nbsp;".html_safe
    
    %div{:class=>"datefields span-24 last"}
      .span-5
        Issued on: 
        = f.text_field :issued_on, :size=>"8"
      .span-6
        = check_box_tag "show_due"
        Show due date
        %br 
        = f.text_field :due_by, :size=>"8"
      %div{:class=>"span-11 shorturlbox"}
        = f.label "Choose Url: "
        %span{:class=>"urlprefix"} http://billmebob.com/
        = f.text_field :shorturl, :size=>"25"
    %div{:class=>"als span-23 last"}
      ="&nbsp;".html_safe
      
    %div{:class=>"prodserv span-24 last"}
      %div{:class=>"itemhead span-23 last"}
        %div{:class=>"span-7 inameh"}
          = f.select(:item_title,[["Products"], ["Services"],["Articles"]])
        %div{:class=>"span-3 iquantityh"}
          = f.select(:quantity_title,[["Quantity"], ["Hours"]])
        %div{:class=>"span-3 icosth"}
          = f.select(:cost_title,[["Per Unit"], ["Per Hour"]])
        %div{:class=>"span-3 itaxh last"}
          = f.select(:tax_title,[["Tax"], ["VAT"], ["Service Tax"]])
      - f.fields_for :items do |builder|
        %div{:class=>"itemlist span-24 last"}
          %div{:class=>"span-7 iname"}
            =builder.hidden_field :_destroy
            =image_tag "delete.png", :class=>"delete_item"
            =builder.text_field :name
          %div{:class=>"span-3 iquantity"}
            =builder.text_field :quantity
          %div{:class=>"span-3 icost"}
            %span{:class=>"currency_symbol"}$
            =builder.text_field :cost
          %div{:class=>"span-3 last itax"}
            =builder.text_field :tax
            \%
    %div{:class=>"add_item_button span-24 last"}
      = link_to_add_fields "Add item", f, :items
    %div{:class=>"als span-23 last"}
      ="&nbsp;".html_safe
    %div{:class=>"totalstuff span-24"}
      %div{:class=>"totalhead span-4"}
        Sub-total:
      %div{:class=>"totalval span-2"}
        %span{:class=>"currency_symbol"}$
        %span{:class=>"subtotalval"}
          0
    %div{:class=>"totalstuff span-24"}
      %div{:class=>"totalhead span-4"}
        Total Tax:
      %div{:class=>"totalval span-2"}
        %span{:class=>"currency_symbol"}$
        %span{:class=>"taxval"}
          0
    %div{:class=>"invoicetotal span-24"}
      %div{:class=>"totalhead span-4"}
        Total:
      %div{:class=>"totalval span-2"}
        %span{:class=>"currency_symbol"}$
        %span{:class=>"formtotal"}
          0
    %div{:class=>"formbuttons span-24"}
      = f.submit 'Create invoice', :class=>"submitbutton"
