<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <title>BillMeBob.com - create invoices online in an instant for free</title>
    <meta name="description" content="Create invoices online in an instant for free. No signup required."/>
    <meta name="keywords" content="create free invoice, online invoice, BillMebob">
    <link href='/stylesheets/blueprint/screen.css' media='screen, projection' rel='stylesheet' type='text/css' />
    <%= yield(:header) %>
    <!--[if IE]>
      <link href='/stylesheets/blueprint/ie.css' media='screen, projection' rel='stylesheet' type='text/css' />
    <![endif]-->
  </head>
  <body>
    <div class="container">
      <div class="header span-24 last">
        <div class="box">
          <div class="boxtop"><div></div></div>
            <div class="boxcontent">
              <ul id="navbar">
                <li class="logo"><a href="/" alt="BillMeBob.com"><%= image_tag "billmebob.png" %></a></li>
                <%- if params[:action]=="show" %>
                  <li class="printlink"><button class="printbutton" onclick="window.print(); return false;">Print this invoice</button></li>
                  <li class="or">or</li>
                <%- end %>
                <li class="navlink"><%= link_to "Create new invoice", "/invoices/new" %></li>
              </ul>
            </div>
            <div class='boxbottom'><div></div></div>
        </div>
      </div>

      <div class="span-24 last">
        <%- flash.each do |type, message| -%>
        <div id='flash_#{type}'>
          <p><%= message %></p>
        </div>
        <%- end -%>
      </div>
  
      <div class="content span-24 last">
        <%= yield %>
      </div>
      
      <div class="span-24 last footer">
        <%- if params[:action]!="show" %>
          <p>&copy;2010 SingAlong | <a href="mailto:akash@akash.im">Got feedback?</a></p>
        <%- end %>
      </div>
    </div>
    <%- if Rails.env.production? %>
      <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
        </script>
        <script type="text/javascript">
        try {
        var pageTracker = _gat._getTracker("UA-15883278-1");
        pageTracker._trackPageview();
        } catch(err) {}
      </script>
    <%- end %>  
  </body>
</html>

